$color_texto: white;
body {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin container-base {
  background-color: black;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_home {
  @include container-base;
}

.container_2 {
  @include container-base;
}

.informacion_home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: $color_texto;
}

.navbar_general {
  padding: 1rem;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  img {
    width: 100px;
    grid-area: logo;
  }
}

.navbar {
  width: 100%;
  height: 200px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 1200px;

  a {
    text-decoration: none;
    color: rgb(255, 0, 0);
  }
}

article {
  display: flex;
  color: white;
}

.info_eladio {
  text-align: justify;
  line-height: 1.5;
  padding-top: 5px;
}

aside {
  grid-area: imagen;
  margin-bottom: 20px;
}
aside img {
  width: 100%;
}
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 1rem;
  margin-top: auto;
}
footer img {
  width: 100px;
}

.eladio_home {
  flex: 1;
}

/* Albums */

.carousel {
  grid-area: carousel;
}

.lista_albums {
  grid-area: lista;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  color: white;
  line-height: 2;
}

main img {
  width: 100%;
}

.albums {
  display: flex;
  flex-direction: column;
}

.lista_conciertos {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  align-items: normal;
  gap: 0.5rem;
}

.lista_conciertos_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.conciertos_img_container {
  flex: 1;
}

.body_conciertos {
  max-height: 100vh;
  background-color: black;
}

.container_concietos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  color: white;
  line-height: 2;
  min-height: 100vh;
}

.container_2 {
  min-height: 100vh;
}

li {
  width: auto;
}

.container_merch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.ropa {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.medida_merch {
  width: 100%;
  padding: 1rem;
}

.boton_compra {
  display: inline-block;
  padding: 10px 20px;
  background-color: #df0606;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;

  &:hover {
    background-color: #800202;
  }
}

.merch_compra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medida_videos {
  max-width: 100%;
  padding: 2rem;
}

.container_videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 700px) {
  main {
    display: contents;
  }
  .lista_albums {
    padding-top: 0px;
    line-height: 5;
  }

  .lista_conciertos_container {
    display: flex;
    flex-direction: row;
  }
  .lista_conciertos {
    align-items: normal;
  }
  .informacion_home {
    flex-direction: row;
  }

  .informacion_home .eladio_Home,
  .informacion_home .info_eladio {
    width: 50%;
  }

  .albums {
    flex-direction: row;
    padding: 2%;
  }
  .albums .carousel,
  .albums .lista_albums {
    width: 50%;
  }

  .medida_merch {
    width: 50%;
    padding: 2rem;
  }

  .ropa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer-copyright {
  font-size: 1rem;
}
